/* Estilo para o corpo da página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Estilo para a página de Formação, aplicando apenas quando a classe .formacao-page está no body */
.formacao-page .education-list {
    list-style-type: disc;
    margin-left: 30px; /* Alinhamento à esquerda */
    padding-left: 20px;
}

.formacao-page .education-list li {
    margin-bottom: 10px;
}

/* Estilo do cabeçalho */
header {
    background-color: #af4c99;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Estilo da seção de conteúdo */
main {
    padding: 20px;
    background-color: white;
}
